---

---

<header
  class="backdrop-blur-sm bg-opacity-90 px-3 md:px-[50px] lg:px-[100px] h-[80px] py-2 flex flex-row justify-between items-center fixed top-0 left-0 right-0 w-full bg-dark-gray"
>
  <div>
    <h1 class="text-2xl font-montserrat font-bold text-white">Hola Mundo</h1>
  </div>
</header>
