---
import Button from "../buttons/Button.astro";
import Post from "../cards/Post.astro";
import PostsList from "../../utils/posts";

const recentPost = PostsList.sort((a, b) => b.createdAt.getTime() - a.createdAt.getTime())[0];
---

<section
  class="py-[20px] px-3 md:px-[50px] lg:px-[100px] min-h-[400px] bg-medium-gray flex flex-col-reverse lg:flex-row gap-x-8 justify-center items-center"
>
  <div class="flex flex-col gap-3 items-center md:items-start w-fit lg:max-w-md">
    <h1 class="pb-2 font-montserrat text-7xl font-bold from-light-gray via-white to-light-yellow bg-gradient-to-r bg-clip-text text-transparent">
      Rublog
    </h1>
    <p class="text-sm text-slate-200 lg:max-w-sm">
      Hello! my name is Rubén Velásquez, in this blog I wanna tell you all my experiences, knowledges and workflow.
    </p>
    <div>
      <a href="https://github.com/ruben-velasquez/Rublog">
        <Button>
          View Github 
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
         </svg>
        </Button>
      </a>
    </div>
  </div>
  <div class="gap-3 w-fit lg:max-w-md hidden md:flex md:flex-col">
    <h2 class="font-montserrat text-3xl text-slate-200">More recent post</h2>
    <Post
      title={recentPost.title}
      description={recentPost.description}
      href={recentPost.href}
      createdAt={recentPost.createdAt}
    />
  </div>
</section>
