---
import Post from "../cards/Post.astro";
---

<section class="bg-light-gray px-3 md:px-[50px] lg:px-[100px] flex flex-col justify-center items-center gap-4 py-4">
  <h2 class="font-montserrat text-4xl font-bold text-slate-900">Posts</h2>
  <summary class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    <Post
      title="A Interesting Post"
      description="This post is an example of how the post description should be"
      id="1"
    />
    <Post
      title="A Interesting Post"
      description="This post is an example of how the post description should be"
      id="1"
    />
    <Post
      title="A Interesting Post"
      description="This post is an example of how the post description should be"
      id="1"
    />
    <Post
      title="A Interesting Post"
      description="This post is an example of how the post description should be"
      id="1"
    />
    <Post
      title="A Interesting Post"
      description="This post is an example of how the post description should be"
      id="1"
    />
    <Post
      title="A Interesting Post"
      description="This post is an example of how the post description should be"
      id="1"
    />
  </summary>
</section>
