---
import Post from "../cards/Post.astro";
import PostList from "../../utils/posts";
---

<section class="bg-light-gray px-3 md:px-[50px] lg:px-[100px] flex flex-col justify-center items-center gap-4 py-4">
  <h2 class="font-montserrat text-4xl font-bold text-slate-900">Posts</h2>
  <summary class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    {PostList.map(post => 
      <Post
        title={post.title}
        description={post.description}
        href={post.href}
      />
    )}
  </summary>
</section>
