---
import Header from '../components/structure/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="pt-[80px]">
		<Header />
		<slot />
	</body>
</html>

<style>
	@font-face {
		font-family: 'Montserrat';
		src: url('/fonts/Montserrat.ttf') format('truetype');
		font-weight: normal;
		font-style: normal; 
	}
</style>
